.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.add-new-trip {
  display: flex;
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  border-radius: 3px;
}


.add-new-trip button, .add-new-trip div{
  line-height: 1.25rem;
  border-radius: 0;
}

.trip-tab {
  border-radius: 5px!important;
  display: flex;
  line-height: 1.25;
}

.trip-tab button {
  border-radius: 0!important;
}

.trip-tab button:nth-child(2) {
  background-color: purple!important;
}

.tabs {
  gap: 1rem;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.tabs button {
  background: mediumpurple;
}

.add-row {
  margin-bottom: 3rem!important;
  background-color: goldenrod!important;
}

.remove-row {
  background-color: red!important;
  line-height: 14px!important;
}


.custom-select {
  border: 1px solid #1976d2;
  height: 55px;
}
button {
  margin-bottom: 1rem!important;
}

.entry-row {
  display: flex;
  gap: 0.5rem
}

@media (max-width: 600px) {
  .entry-row {
    display: flex;
    flex-direction: column;
    gap:0;
    flex-wrap: wrap;
    
  }

  .entry-row > * {
    margin-bottom: 10px!important;
    padding-bottom: 0!important;
    flex:1!important;
  }
  
  .couple div{
    width: auto;
  }
  .quartets > div {
    flex: 1 1 25%;
  }
  .quartets > div > div {
    font-size: 11px;
  }

  .quartets > div > div:nth-child(1) {
    padding: 10px 5px!important;
  }

  .quartets > div:nth-child(1) {
    height: 36px;
  }

  .quartets > div:nth-child(2) label {
    top: -4px;
    font-size: 11px;
  }

  .remove-row {
    margin-bottom: 2rem !important;
    padding-bottom: 5px !important;
    line-height: 25px !important;
}

  .add-row {
    margin-bottom: 1.5rem!important;
  }

  .quartets > div:nth-child(1) svg {
    right: -1px;
  }

  .quartets > div:nth-child(3) {
    flex: 1 1 15%;
  }

  .quartets > div > div > input {
    padding: 10px 5px;
    text-align: center;
  }
}

.couple, .quartets {
  display: flex;
  width: 100%;
  gap: 0.5rem;
}

.small-field {
  flex-grow: 2; 
  flex-shrink: 0; 
  flex-basis: 80px;
}

.small-field > div > input {
  text-align: center;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Para Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

/* Agregar un ícono personalizado */
.css-1thm530-MuiFormControl-root-MuiTextField-root.custom-select {
  position: relative;
}

.css-1thm530-MuiFormControl-root-MuiTextField-root.custom-select input[type="date"] {
  padding-right: 30px; /* Asegura que el texto no se superponga con el ícono */
}

.css-1thm530-MuiFormControl-root-MuiTextField-root.custom-select::after {
  content: '📅'; /* Puedes usar un ícono de calendario o un carácter especial */
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* Hace que el ícono no interfiera con los clics */
  color: blue; /* Cambia el color del ícono */
}